.rodape-card{
    color: #1A4C47;
    height: 35px;
}

.btn-detalhes{
    background-color: #1a274cbb;
    color: #fff;
}

.btn-detalhes:hover{
    background-color: #1a274c8a;
    color: #fff;
}


.card-text{
    max-height: 70px;
    min-height: 70px;
    overflow: hidden;
}

.img-cartao{
    max-height: 150px;
    min-height: 150px;
    min-width: 100%;
}