
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.msg_resposta{
    position: absolute;
    bottom: 10px;
    margin: auto;
}

.login_form{
    background-color: rgba(40, 40, 40, 0.564);
    padding: 30px;
}

.Copyright{
    z-index: 1;
}

.container-flex{
    color: white;
}

.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 1200px) {
    .img-logo{
        display: none;
    }
    .login_form{
        max-width: 400px;
    }
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
    .login_form{
        width: auto;
    }
    
}