
.main-login{
background-image: url('https://getwallpapers.com/wallpaper/full/0/3/4/51562.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.Copyright{
    z-index: 1;
}

.container-flex{
    color: white;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}