.main-home{
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/t1/2669311-azul-claro-fundo-com-retangulos-ilustracao-com-um-conjunto-de-gradiente-retangulos-best-design-for-your-ad-poster-banner-vetor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100%;
    font-family: 'Helvetica', sans-serif;
}

.barra-pesquisa{
    width: 400px;
    margin: auto;
}