.navbar{
    background-color:#1a274cbb;
}

.nav-item a{
    color: #fff;
    transition: .3s ease-in;
}

.nav-item a:hover{
    color: #bebfc0;;
}

.search{
    display: block;
}
.menu{
    background-color:#2c3d6bbb;
    color: white;
    padding: 10px 12px;
}

.menu:hover{
    background-color: #495987bb;
}
.navbar-nav{
    padding: 0;
}


@media (max-width: 991px) {
    .search{
        display: none;
    }
    .navbar{
       padding: 0, 4px;
    }
}
