.text-shadow {
    text-shadow: 2px 2px #5756567d;
}
.img-banner{
    width: auto;
    min-height: 300px;
    max-height: 350px;
    max-width: 100%;
    margin: auto;
}

.main-detalhes{
    background-color: rgba(6, 6, 6, 0.598);
    color: white;
    background-size: cover;
    background-color: #dee1e188;
    padding: 10px;
    margin-top: 20px;
}

.btn-editar{
    color: white;
    transition: .3s ease-in;
}

.btn-exlcuir{
    color: white;
    transition: .3s ease-in;
}

.btn-editar:hover{
    color: #bebfc0;
}

.btn-exlcuir:hover{
    color: #bebfc0;
}

.visualizacoes{
    color: white;
}
