.text-shadow {
    text-shadow: 2px 2px #5756567d;
}
.img-banner{
    width: auto;
    min-height: 300px;
    max-height: 350px;
    max-width: 100%;
    margin: auto;
}

.main-detalhes{
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    padding: 10px;
    margin-top: 20px;
    color: #333;
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}

.btn-editar{
    transition: .3s ease-in;
}

.btn-exlcuir{
    transition: .3s ease-in;
    color:rgb(158, 39, 39);
}

.btn-exlcuir:hover{
    color:rgb(202, 35, 35);
}


.visualizacoes{
    color: white;
}
